/* --------------------------
--------------Header Styles-----------*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500&display=swap');
* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
 }

.header-details {
    background: rgba(255, 144, 14, 0.1);
    padding: 20px 180px;
}

main {
    padding: 20px 180px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 15px;
    color: #424242;
}


.banner-details {
    text-align: center;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-top: 80px;

}

.banner-info {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding-top: 10px;
    padding-bottom: 15px;
}

.btn-primary {
    background: #FF900E;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    border: 0;
    padding: 20px 25px;
    margin-bottom: 40px;
    margin-top: 20px;
}

img {
    max-width: 100%;
}

/* -----------------------------
-------------feature section style -------- */

/* section---1 style */

.section-1 {
    display: flex;
}

.feature-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 75px;
    align-items: center;
    padding-top: 40px;
    width: 700;
    padding-left: 55px;

}

.image-style {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 480px;
}

.feature-info {
    padding-top: 130px;
    padding-right: 200px;
}
.feature-info h3{
    font-weight: 500;
    font-size: 45px;
}
.text-primary{
    color:#727272;
}
.text-second{
    color: #FF900E;
}
.feature-info p {
    padding-top: 15px;
    color: #727272;
}

/* section---2 style  */

.section-2 {
    display: flex;
    padding-top: 85px;
}
.container{
    padding-right: 1px;
}
.feature-love-details h3{
    font-weight: 700;
    font-size: 45px;
    border-left: 5px solid #FF900E;
    padding-left: 5px;
}
.feature-love-details p{
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 10px;
    padding-top: 15px;
    color: #727272;
}
.feature-love-info{
    border: 20px solid white;
    border-radius: 8px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    margin-bottom: 15px;
    margin-right: 80px;
}
.feature-love-img .btn-second{
    background: #FF900E;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    border: 0;
    padding: 20px 25px;
    margin-bottom: 40px;
    margin-top: -20px;

}
.btn-second .btn-1{
    display: block;
    font-weight: 700;
    font-size: 65px;
}
.btn-second .btn-2{
    display: block;
    font-weight: 500;
    font-size: 25px;
}
.box p{
    color: #727272;
}


/* section-3 styles */

.some-facts-section{
    padding: 50px 0;
 }
 .some-facts-intro{
    width: 35%;
    margin-bottom: 100px;
    margin-top: 20px;
 }
 .some-facts-intro h3{
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
 }

 .some-facts-item-parent{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 125px;
    margin-top: -25px;
 }
 .some-facts-item{
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 30px 15px;
    transition: all 1s ease-in-out;
 }
 .some-facts-item:hover{
    transform: scale(1.2);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: none;
 }
 .some-facts-item:hover img{
    transform: scale(1.3);
}
.some-facts-item img{
    width: 45px;
    height: 45px;
    transition: all 1s ease-in .3s;
 }
 .some-facts-item h3{
    font-weight: 600;
    font-size: 45px;
    color: #424242;
 }
 .some-facts-item p{
    color: #727272;
    font-weight: 600;
    font-size: 20px;
 }

/* section--4 styles  */

.section-4 .sponsor {
    text-align: center;
}
.sponsor h3{
    font-weight: 700;
    font-size: 45px;
    padding-top: 30px;
}
.sponsor p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding-top: 15px;
}

.sponsor-brand {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 30px;
    padding-top: 36px;
    padding-bottom: 30px;
    align-items: center;
}

/* footer style */
footer {
    text-align: center;
    border: 10px solid white;
    background: #FFF4E7;
    border-radius: 8px;
    margin: 40px 70px;
    
}


footer h4{
    color: #424242;
    font-size: 20px;
    padding: 30px 0;

}
